@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@import 'tailwindcss';

@font-face {
  font-family: 'Helios';
  src: url('https://db.onlinewebfonts.com/t/fd18e391776fea6256be11db6ed387f8.woff2')
    format('woff2');
  font-display: swap;
}

html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'NotoSans', 'sans-serif', 'Arial';
  font-size: 16px;
  background-color: var(--color-background);
  background: var(--background);
  color: var(--text);
  box-sizing: border-box;
}

@layer base {
  :root {
    /* 공통 컬러 + 라이트모드 */
    --text: #000000;
    --background: #dddbdb;
    --card: #ffffff;
    --border: #dfe0e1;
    --disable: #c6c6a7;

    --pill-shadow: #93896b;
    --moon-shadow: #dddbdb;
    --btn-shadow: rgba(0, 0, 0, 0.3);

    --white: #ffffff;
    --lightGray: #dddbdb;
    --borderGray: #dfe0e1;
    --charcoal: #4f4d4d;
    --sealBrown: #171010;
    --black: #000000;
    --shadow: #453333;

    --offenseRec: #e34e4e;
    --defenseRec: #6897a9;

    --normal: #c6c6a7;
    --fire: #f5ac78;
    --water: #9db7f5;
    --electric: #fae078;
    --grass: #a7db8d;
    --ice: #bce6e6;
    --fighting: #d67873;
    --poison: #c183c1;
    --ground: #ebd69d;
    --flying: #c6b7f5;
    --psychic: #fa92b2;
    --bug: #c6d16e;
    --rock: #d1c17d;
    --ghost: #a292bc;
    --dragon: #a27dfa;
    --dark: #a29288;
    --steel: #d1d1e0;
    --fairy: #f4bdc9;
    /* --stella: #44628D; */
  }
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    /* 다크모드 */

    --text: #dddbdb;
    --background: #4f4d4d;
    --card: #171010;
    --disable: #4f4d4d; /* 라이트하우스 접근성 개선 필요할 경우 컬러 수정 */
  }
}

@layer base {
  br {
    display: inline;
  }

  .toggle {
    fill: var(--color-toggle);

    .toggleIcon {
      fill: var(--color-toggleIcon);
    }
  }

  a {
    text-decoration: none;
  }

  button {
    cursor: pointer;
  }

  [hidden] {
    display: none;
  }

  .shadow-bl {
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
  }
  /*  다크모드 토글/태양 아이콘, 라이트모드 토글, 랭버튼 아이콘, more 버튼 아이콘, */

  .shadow-gr {
    filter: drop-shadow(0px 2px 2px var(--lightGray));
  }
  /* 다크모드 달 아이콘 */

  .shadow-btn {
    filter: drop-shadow(0px 2px 2px #93896b);
  }
  /*pill만*/
}
