@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'Helios';
  src: url('https://db.onlinewebfonts.com/t/fd18e391776fea6256be11db6ed387f8.woff2')
    format('woff2');
  font-display: swap;
}

html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'NotoSans', 'sans-serif', 'Arial';
  font-size: 16px;
  background-color: var(--background);
  box-sizing: border-box;
}

@layer base {
  :root {
    /* 공통 컬러 + 라이트모드 */
    --white: #ffffff;
    --olive: #c6c6a7;
    --lightGray: #dddbdb;
    --borderGray: #dfe0e1;
    --charcoal: #4f4d4d;
    --sealBrown: #171010;
    --black: #000000;
    --black-shadow: rgba(0, 0, 0, 0.3);
    --gray-shadow: rgba(221, 219, 219, 0.5);

    --text: var(--black);
    --background: var(--lightGray);
    --card: var(--white);
    --border: var(--borderGray);
    --disable: var(--olive);
    --tooltip: var(--sealBrown);
    --tooltipTxt: var(--lightGray);
    --modalBg: var(--lightGray);
    --modalTxt: var(--black);

    --btn: var(--black); /* 버튼 3개 컬러 */
    --btn-shadow: var(--black-shadow); /* 버튼 3개의 그림자 컬러 */
    --btn-icon: var(--lightGray); /* 다크모드 버튼 내 아이콘 컬러 */
    --btn-icon-shadow: var(--gray-shadow);
    /* 다크모드 버튼 내 아이콘의 그림자 컬러 */
    --pill-shadow: var(--black-shadow);

    /* --shadow: #453333; */
    --offenseRec: #e34e4e;
    --defenseRec: #6897a9;

    --normal: #c6c6a7;
    --fire: #f5ac78;
    --water: #9db7f5;
    --electric: #fae078;
    --grass: #a7db8d;
    --ice: #bce6e6;
    --fighting: #d67873;
    --poison: #c183c1;
    --ground: #ebd69d;
    --flying: #c6b7f5;
    --psychic: #fa92b2;
    --bug: #c6d16e;
    --rock: #d1c17d;
    --ghost: #a292bc;
    --dragon: #a27dfa;
    --dark: #a29288;
    --steel: #d1d1e0;
    --fairy: #f4bdc9;
    /* --stella: #44628D; */
  }
}

.dark {
  --text: var(--lightGray);
  --background: var(--charcoal);
  --card: var(--sealBrown);
  --disable: var(--charcoal);
  /* 라이트하우스 접근성 개선 필요할 경우 컬러 수정 */
  --tooltip: var(--gray-shadow);
  --tooltipTxt: var(--Black);
  --modalBg: var(--);
  --modalTxt: var(--white);

  --btn: var(--lightGray);
  --btn-shadow: var(--black-shadow);
  --btn-icon: var(--charcoal);
  --btn-icon-shadow: var(--black-shadow);
  --pill-shadow: var(--gray-shadow);
}

@layer utilities {
  .btnShadow {
    filter: drop-shadow(0px 2px 2px var(--btn-shadow));
  }
  .btnIconShadow {
    filter: drop-shadow(0px 2px 2px var(--btn-icon-shadow));
  }
  .pillShadow {
    filter: drop-shadow(0px 2px 2px var(--pill-shadow));
  }
}

@layer base {
  br {
    display: inline;
  }

  /* .toggle {
    fill: var(--color-toggle);

    .toggleIcon {
      fill: var(--color-toggleIcon);
    }
  } */

  a {
    text-decoration: none;
  }

  button {
    cursor: pointer;
  }

  [hidden] {
    display: none;
  }

  /* .shadow-bl {
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
  } */
  /*  다크모드 토글/태양 아이콘, 라이트모드 토글, 랭버튼 아이콘, more 버튼 아이콘, */

  /* .shadow-gr {
    filter: drop-shadow(0px 2px 2px var(--lightGray));
  } */
  /* 다크모드 달 아이콘 */

  /* .shadow-btn {
    filter: drop-shadow(0px 2px 2px #93896b);
  }
  pill만 */
}
